* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  background-color: #1d1d1f;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10vw;
}

/* ---- NAV BAR ----  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: #1d1d1f;
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 5Vw;
  color: #ffffff;
  font-size: 18px;
  margin: 0;
  font-weight: 500;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
  
}

nav .nav-left {
  width: 33%;
}

nav .nav-center {
  flex: 1;
  text-align: center;
  width: 33%;
}

nav .nav-menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 33%;
}

nav button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

nav a:hover {
  color: #b0b0b0;
}

/* ---- HOME PAGE ----  */
#home-container {
  padding: 0 20rem;
  
}

.nft-grid {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nft-item {
  background-color: #2a2a2a;
  border-radius: 10px;
  overflow: hidden;
  padding: 1rem;
}

.nft-item img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.nft-item h2 {
  margin: 0 0 0.5rem 0;
}

.nft-item p {
  margin: 0 0 1rem 0;
  color: #bbb;
}

.nft-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.nft-price-usd {
  color: #bbb;
  font-size: 0.9rem;
}

.nft-floor-price {
  color: #bbb;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.nft-buttons {
  display: flex;
  gap: 1rem;
}

.nft-buttons button, a {
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.buy-now {
  background-color: #4CAF50;
  color: white;
}

.swap {
  background-color: #ddd;
  color: #333;
}


/*---- NFT Sell Page ---- */
.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.nft-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.nft-image {
  width: 100%;
  aspect-ratio: 1;
  background-color: #2a2a2a;
  border-radius: 10px;
  overflow: hidden;
}

.nft-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nft-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2a2a2a;
  color: #fff;
}

.form-row {
  display: flex;
  gap: 2rem;
}

.form-row .form-group {
  flex: 1;
}

/*---- Screen Adjustment ----*/
@media screen and (min-width: 769px) {
  .navbar .menu-toggle {
      display: none;
  }
}

@media screen and (min-width: 769px) {
  .navbar .menu {
      display: flex !important;
  }
} 
/*----PROFILE PAGE ----*/
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vw;
}
.profile-info{
  display: flex;
  align-items: center;
  flex-direction: column; 
}
.profile-pic{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-pic:hover{
  transform: scale(1.05);
}

.profile-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 400px;
  gap: 50px;
}
.profile-actions button{
   padding: 10px, 20px;
   font-size: 16px;
   font-weight: bold;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin-bottom: 20px;
   min-width: 150px;  
}
.profile-actions button:hover {
  transform: translateY(-2px);
}
.nft-gallary{
  text-align: center;
  margin-top: 3rem;
  
}
.nft-gallary h2{
  font-size: 2rem;
  margin-bottom: 2rem;
  
}
/* .nft-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  justify-items: center;
} */

/*----Transaction History PAGE ----*/
.transaction-history-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 10px;
}

.transaction-history-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.transaction-history-table {
  width: 100%;
  border-collapse: collapse;
}
