  .listings-container-asset-card {
    padding: 20px;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow like the mint button */
    margin-bottom: 50px;
    width: 90%;
    text-align: center;
  }

  
  .listing-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
  }
  
  .card {
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .nft-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .listings-title {
    font-size: 30x;
    margin-bottom: 20px;
    color: #00ff88;
  }

  .card-details {
    padding: 15px;
    text-align: center;
  }
  
  .nft-contract {
    font-size: 14px;
    overflow: hidden;
    color: #00ff88;
    font-weight: bold;
    margin-bottom: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word; 
    word-break: break-word;
  }
  
  .nft-description {
    font-size: 16px;
    color: #ccc;
  }
  
  .nft-contract-small {
    font-size: 10px;
    color: #888;
    word-wrap: break-word;
  }
  
  .nft-price {
    font-size: 16px;
    margin: 10px 0;
    color: #00ff88;
    font-weight: bold;
  }
  .token-id {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .actions {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  
  .buy-button, .swap-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .buy-button {
    background-color: #00ff88;
    color: #000;
  }
  
  .swap-button {
    background-color: #888;
    color: #fff;
  }
  